body {
  display: grid;
  grid-row-gap: 0.7rem;
}
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.7rem;
}
button {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
  font-weight: 700;
  border-radius: 5px;
  height: 3rem;
  min-width: 8rem;
  max-width: 12rem;
  cursor: pointer;
}
